{% extends 'base.html' %}
{% block body_containt %}
<div class="container vh-100">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text"><b>Who we are:</b> We are a team of experts in the field of content marketing and social media.</p>
                    <p class="aboutus-text"><b>Our mission:</b> To help businesses of all sizes and industries leverage the power of contaus (content and social media) to achieve their business objectives.</p>
                    <p class="aboutus-text"><b>Our team:</b> Our team of experts includes content marketers, social media specialists, and data analysts who have years of experience in the industry.</p>
                </div>
            </div>
          
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>What You'll Find on Our Website:</h4>
                                <p>Information and resources on all aspects of contaus, including content strategy, social media strategy, measurement and analytics, and more.</p>
                                    <p>Case studies and success stories of businesses that have effectively implemented contaus to grow their business.
                                   <p> Up-to-date information on the latest trends and best practices in contaus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Our Promise to You:</h4>
                                <p>Accurate, actionable, and valuable information.</p>
                                    <p>A commitment to providing our readers with the most current and relevant information in the industry.</p>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}