{% extends 'base.html' %}
{% block body_containt %}
<section class="container">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center"> 
        <div class="col-md-12 col-lg-12 col-xl-12 offset-xl-1">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
              
            {% for message in messages %}
              <div class="alert alert-dismissible fade show alert-{{ message.tags }}" role="alert" data-mdb-color="{{ message.tags }}" id="error-message">
                <strong> {{ message }}</strong>
                <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}

            <div class="form-outline mb-4">
              <input type="text" class="form-control" id="title" name="title"/>
              <label class="form-label" for="title">Title</label>
            </div>

            <div class="form-outline mb-4">
                <textarea class="form-control" id="short_content" rows="2" name="short_content"></textarea>
                <label class="form-label" for="short_content">Short Content</label>
            </div>
            
            <div class="form-outline mb-4">
                <textarea class="form-control" id="long_content" rows="4" name="long_content"></textarea>
                <label class="form-label" for="long_content">Long Content</label>
            </div>
            
            <div class="form-outline mb-4">
                <label class="form-label" for="blog_image">Image</label>
                <input type="file" class="form-control" id="blog_image" name="blog_image"/>
            </div>

            <!-- Submit button -->
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Save</button>
              <a href="/user/my-blogs" type="button" class="btn btn-danger btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </section>
{% endblock %}