{% extends 'base.html' %}
{% block body_containt %}
<section class="text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Latest Blogs</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for blog in blogs %}
        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="/media/{{blog.img}}" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                <div class="card-body">
                    <p class="card-text">{{blog.title}}</p>
                    <hr>
                    <p class="card-text">{{blog.short_content}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href='blog/{{blog.slug}}'><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                            {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                        </div>
                        <small class="text-muted">{{blog.created_by}}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}   
    </div>
</div>
</div>
{% endblock %}
    